* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
}

.hidden {
    display: none !important;
}

.screen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.red-screen {
    background-color: red;
}

.green-screen {
    background-color: green;
}